.cs-main_header_in {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .cs-main_header_in {
    .cs-main_header_left,
    .cs-main_header_center,
    .cs-main_header_right {
      align-self: center;
    }

    .cs-nav {
      display: flex;
      align-items: center;
    }
  }
}

.cs-menu_toggle {
  background: transparent !important;
}

.cs-icon_btn {
  background-color: transparent !important;
}

.cs-icon_btn_in span {
  background-color: white !important;
}

.cs-toolbox {
  display: block !important;
}

.cs-side_header,
.cs-side_header_shape {
  background-color: transparent !important;
} 