.vlt-portfolio-grid-item.vlt-portfolio-style2 {
  position: relative;
  
  .vlt-portfolio-grid-image {
    position: relative;
    overflow: hidden;
    
    img {
      width: 100%;
      transition: transform .3s ease-in-out;
    }
  }

  .vlt-portfolio-grid-content {
    padding-top: 1.25rem;
    text-align: center;
  }

  .vlt-portfolio-grid-title {
    font-size: 1.125rem;
    margin-bottom: 0.25rem;
  }

  .vlt-portfolio-grid-cat {
    font-size: .875rem;
    color: #999;
  }

  &:hover {
    .vlt-portfolio-grid-image img {
      transform: scale(1.1);
    }
  }
}

.vlt-pagination-load-more-btn {
  text-align: center;
  margin-top: 2rem;
  .vlt-btn {
    cursor: pointer;
  }
} 